@import '../../../../../styles/common';

:host {
	@extend %fill-parent;

	display: grid;
	grid-template-rows: 30% 70%;
	grid-template-columns: 100%;
	grid-template-areas:
		'clock'
		'forecast';

	smt-clock {
		grid-area: clock;
	}

	smt-forecast {
		grid-area: forecast;
	}
}
