@import '../../../../../styles/common';

:host {
	@extend %stack-vertical;
	align-items: center;
	padding: 8px;
	font-size: 0.8em;

	.dow, .high, .low {
		@extend %flex-no-grow;
	}

	.icon {
		@extend %stack-vertical;
		justify-content: center;
		align-items: center;
	}
}
