@import '../styles/common';

$toolbar-height: 64px;

:host {
	display: grid;
	width: 100vw;
	height: 100vh;

	grid-template-rows: $toolbar-height calc(100vh - #{$toolbar-height});
	grid-template-areas:
		'toolbar'
		'main';


	background-color: #222233;

	::ng-deep mat-toolbar {
		grid-area: toolbar;
		height: 64px;

		@extend %stack-horizontal;
		justify-content: space-between;
		align-items: center;
	}

	mat-toolbar + div {
		grid-area: main;
	}

	mat-menu {
		display: none;
	}
}
