:host {
	display: grid;
	width: 100%;
	height: 100%;
	grid-template-rows: 30px 1fr 16px repeat(3, 1fr);
	grid-template-columns: 40% 40% 20%;
	grid-template-areas:
		"numpad spacer spacer"
		"numpad display status"
		"numpad spacer2 spacer2"
		"numpad controls other"
		"numpad controls other"
		"numpad controls other";

	numpad {
		grid-area: numpad;
		align-self: center;
	}

	keycode-display {
		grid-area: display;
	}

	control-pad {
		grid-area: controls;
	}

	security-system-status {
		grid-area: status;
	}
}
