:host {
	@media screen and (orientation: landscape) {
		display: grid;
		width: 100%;
		height: 100%;
		grid-template-rows: 70px 1fr;
		grid-template-columns: 100%;
		grid-template-areas:
			"display"
			"numpad";

		padding: 16px;
	}

	@media screen and (orientation: portrait) {
		display: grid;
		width: 100vw;
		height: 100%;
		grid-template-rows: 100px 1fr;
		grid-template-columns: 100%;
		grid-template-areas:
			"display"
			"numpad";
	}

	smt-numpad {
		grid-area: numpad;
		align-self: center;
	}

	keycode-display {
		grid-area: display;
		align-self: center;
	}
}
