@import '../../../../../styles/common';
@import '../../../../../styles/theme';

$primary: map-get($mat-dark-theme-background, card);
$radius: 4px;

:host {
	@extend %fill-parent;
	@extend %stack-vertical;
	justify-content: stretch;
	align-items: stretch;

	.header {
		@extend %flex-no-grow;
		background-color: $primary;
		font-size: smaller;
		padding: 8px;

		border: {
			top-left-radius: $radius;
			top-right-radius: $radius;
		}
	}

	.content {
		@extend %flex-fill;

		overflow: scroll;
		border: {
			color: $primary;
			style: solid;
			bottom-left-radius: $radius;
			bottom-right-radius: $radius;
			top-width: 0;
			bottom-width: 1px;
			left-width: 1px;
			right-width: 1px;
		}
	}
}
