%fill-parent {
	width: 100%;
	height: 100%;
}

%stack-horizontal {
	display: flex;
	flex-direction: row;
	flex-flow: nowrap;
	justify-content: flex-start;
	align-items: flex-start
}

%stack-vertical {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start
}

%flex-no-grow {
	flex-basis: auto;
	flex-grow: 0;
	flex-shrink: 0;
}

%flex-fill {
	flex-basis: auto;
	flex-grow: 1;
	flex-shrink: 1;
}
