%stack-horizontal {
	display: flex;
	flex-direction: row;
	flex-flow: nowrap;
	justify-content: flex-start;
	align-items: flex-start
}

%stack-vertical {
	display: flex;
	flex-direction: column;
	flex-flow: nowrap;
	justify-content: flex-start;
	align-items: flex-start
}

%flex-no-grow {
	flex-basis: auto;
	flex-grow: 0;
	flex-shrink: 0;
}