@import '../../../../../styles/common';

:host {
	@extend %fill-parent;

	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 80px auto;
	grid-template-areas: 'back settings';

	.back {
		grid-area: back;
		padding: 8px;
	}

	.grid {
		grid-area: settings;
		overflow: scroll;
	}
}
