@import '../../../../../styles/common';

:host {
	@extend %fill-parent;
	@extend %stack-vertical;
	justify-content: space-between;
	align-items: center;

	.title, .weather, .location {
		@extend %flex-no-grow;
	}

	.weather {
		display: grid;
		grid-template-rows: 100%;
		grid-template-columns: repeat(5, 1fr);
	}

	.location {
		font-weight: bold;
	}
}
